{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'store/store.css' %}">
{% endblock %}

{% block content %}
<h1 class="heading">Categories</h1>
{% for i, p in products_in_cart.items %}
<h5>{{p.product.product_name}}</h5>
<p>{{p.product.product_price}}</p>
<p>{{p.counter}}</p>
<form action="{% url 'remove_from_cart' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{i.id}}">
    <input type="submit" value="Remove">
</form>

{% endfor %}

    
{% endblock %}

{% block scripts %}
<script src="{% static 'store/home.js' %}"></script>
{% endblock %}