{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'store/store.css' %}">
{% endblock %}

{% block content %}
<h1 class="heading">{{category.category_name}}</h1>
<section id="products-container">
{% for i in products %}


    <div class="product-container">
        <img src="{{i.product_image.url}}" alt="A natur image">
        <h4>{{i.product_name}}</h4>
        <p>{{i.price_with_vat}}kr</p>
        <a href="{% url 'ind_products' i.id %}">To details</a>
    </div>


{% endfor %}
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'store/home.js' %}"></script>
{% endblock %}