{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'store/store.css' %}">
{% endblock %}

{% block content %}
<h1 class="heading">Categories</h1>
<section id="category-container">
    {% for i in categories %}
    <div class="inner-category-container">
        <img src="{{i.category_image.url}}" alt="Category image">
        <h4>{{i.category_name}}</h4>
        <a href="{% url 'categories' i.id %}">{{i.category_description}}</a>
    </div>
    {% endfor %}
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'store/home.js' %}"></script>
{% endblock %}